
//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@brand-info : 1b92a0; // same color als primary
@color-white : #ffffff;

//## background
@bg-primary	 : #1b92a0;

//=== Inverted navbar
@navbar-inverse-bg : @bg-primary;
@navbar-inverse-border : darken(@navbar-inverse-bg, 10%);

//=== Inverted navbar links
@navbar-inverse-link-color : @color-white;
@navbar-inverse-link-hover-bg : darken(@navbar-inverse-bg, 15%);


//== Buttons
@btn-primary-color : @color-white;
@btn-primary-bg : @bg-primary;